In [1]:
from scipy import *
from numpy import *
from matplotlib import *
from matplotlib.pyplot import *
from matplotlib.font_manager import FontProperties
from matplotlib.ticker import MultipleLocator, FormatStrFormatter
from matplotlib.font_manager import FontProperties
import matplotlib.pyplot as plt
from matplotlib import gridspec
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.dates as mdates
#from nsepy import get_history
from tabulate import tabulate
import stock
import sys
import riskmanagement
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [2]:
df1 = pd.read_csv("/Users/kishor/Dropbox/stock/pf/SHAKTIPUMP.NS.csv")  # , parse_dates=True, index_col="Date"
df2 = pd.read_csv("/Users/kishor/Dropbox/stock/pf/ADANIPORTS.NS.csv") 
df3 = pd.read_csv("/Users/kishor/Dropbox/stock/pf/AFFLE.NS.csv") 
df4 = pd.read_csv("/Users/kishor/Dropbox/stock/pf/JAMNAAUTO.NS.csv") 
df5 = pd.read_csv("/Users/kishor/Dropbox/stock/pf/ADANIPOWER.NS.csv") 
df6 = pd.read_csv("/Users/kishor/Dropbox/stock/pf/MINDACORP.NS.csv")  # , parse_dates=True, index_col="Date"
df7 = pd.read_csv("/Users/kishor/Dropbox/stock/pf/TATAPOWER.NS.csv") 
df8 = pd.read_csv("/Users/kishor/Dropbox/stock/pf/IEX.NS.csv") 
df9 = pd.read_csv("/Users/kishor/Dropbox/stock/pf/GENESYS.NS.csv") 
df10 = pd.read_csv("/Users/kishor/Dropbox/stock/pf/GOLDIAM.NS.csv") 

Date = df1["Date"]
cl1 = round(df1["Close"],2)
cl2 = round(df2["Close"],2)
cl3 = round(df3["Close"],2)
cl4 = round(df4["Close"],2)
cl5 = round(df5["Close"],2)
cl6 = round(df6["Close"],2)
cl7 = round(df7["Close"],2)
cl8 = round(df8["Close"],2)
cl9 = round(df9["Close"],2)
cl10 = round(df10["Close"],2)


d = dict(A=Date, B=cl1,C=cl2, D=cl3, E=cl4, 
          F=cl5, G=cl6, H=cl7, I =cl8 , J=cl9, K=cl10)
df = pd.DataFrame(dict([ (pd.Series(k)) for k in d.items() ]))
df.columns = ["Date","SHAKTIPUMP","ADANIPORTS","AFFLE","JAMNAAUTO", 
              "ADANIPOWER", "MINDACORP", "TATAPOWER","IEX","GENESYS","GOLDIAM"] 
df = df.fillna(0)
df.head()

,Date,SHAKTIPUMP,ADANIPORTS,AFFLE,JAMNAAUTO,ADANIPOWER,MINDACORP,TATAPOWER,IEX,GENESYS,GOLDIAM
0,2020-02-24,239.50,362.25,436.40,38.80,56.05,116.95,51.85,64.52,58.10,147.65
1,2020-02-25,232.80,358.40,423.13,38.65,56.05,115.45,51.70,63.23,57.70,155.05
2,2020-02-26,227.00,358.40,425.76,37.30,54.45,112.20,49.35,61.67,58.05,171.20
3,2020-02-27,220.65,353.70,416.81,37.25,52.80,109.95,49.30,63.18,56.30,166.60
4,2020-02-28,205.70,342.20,359.78,34.25,47.30,106.95,46.70,58.73,54.65,156.20

# Core EQuity Model

In [3]:
Capital = 50000
Position_size = 10 # percentage # (90/100)*50000
N_trade = 10
Core_Eq = riskmanagement.Core_Eq_Model(Capital,Position_size, N_trade)
Core_Eq

   Trade  Available Equity  Trade_exposure  Core_Equity
0      1           50000.0          5000.0      45000.0
1      2           45000.0          4500.0      40500.0
2      3           40500.0          4050.0      36450.0
3      4           36450.0          3645.0      32805.0
4      5           32805.0          3280.0      29524.0
5      6           29524.0          2952.0      26572.0
6      7           26572.0          2657.0      23915.0
7      8           23915.0          2391.0      21523.0
8      9           21523.0          2152.0      19371.0
9     10           19371.0          1937.0      17434.0

# Percentage Volatility

In [4]:
capital = 500000
riskmanagement.Percentage_Volatility_buy(df1,capital)

Average True Range =  22.27 Rs
Volatility =  10000
No of shares to buy =  449
Exposure =  261699.98 Rs
Capital available from Reduced Total Equity=  238300.02 Rs